<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/template.css">
        <title>會員介面</title>
    </head>
    <body>
        <div class="title">歡迎光臨，這是會員頁</div>
        <div class="content">{{name}}，歡迎登入系統</div>
        <a class="content" href="/signout">登出系統</a>
        <hr class="line">
        <div class="subtitle">快來留言吧</div>
        <form method="post" action="/createMessage">
            <div class="content">
                <label>內容 <input type="text" name="content" required></label>
            </div>
            <div class="content">
                <input type="submit" value="送出">
            </div>
            <hr class="line">
        </form>
        <div id="messageBoard"></div>
        <script>
            fetch("/getmessage").then(function(response){
                return response.json();
            }).then(function(data){
                let boardElem = document.querySelector("#messageBoard")
                let btnNum=0;
                for(let i=0; i<data.length-1; i++){
                    let messageDiv=document.createElement('div');
                    messageDiv.id='message';
                    messageDiv.className='content';
                    let boardElem=document.querySelector('#messageBoard');
                    boardElem.appendChild(messageDiv);
                    let messageElem=document.querySelectorAll('#message');
                    let nameSpan=document.createElement('span');
                    nameSpan.className='messageName';
                    nameSpan.textContent=data[i][2]+"：";
                    let saidSpan=document.createElement('span');
                    saidSpan.textContent=data[i][3];
                    messageElem[i].appendChild(nameSpan);
                    messageElem[i].appendChild(saidSpan);

                    if(data[i][1]==data.at(-1)){
                        let delForm=document.createElement('form');
                        delForm.setAttribute('action','/deleteMessage');
                        delForm.setAttribute('method','POST');
                        delForm.setAttribute('onsubmit','return confirmDel()');
                        delForm.id='delForm';
                        messageElem[i].appendChild(delForm)
                        delFormElem=document.querySelectorAll('#delForm');
                        let delInput=document.createElement('input');
                        delInput.setAttribute('type', 'hidden');
                        delInput.setAttribute('name', 'messageID');
                        delInput.setAttribute('value', data[i][0]);
                        delInput.id='delInput';
                        let delButton=document.createElement('input');
                        delButton.type='submit';
                        delButton.id='btn';
                        delButton.setAttribute('value','X');
                        delFormElem[btnNum].appendChild(delInput);
                        delFormElem[btnNum].appendChild(delButton);
                        btnNum+=1
                    }
                }
            })
            function confirmDel(){
                text='確定要刪除留言嗎？'
                if(confirm(text)==true) {
                    return true;
                }else{
                    return false
                }
            }
        </script>
    </body>
</html>